<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>学生的列表页</title>
    <!--<link rel="stylesheet" href="/element-ui-2.13.2.css">-->
    <script src="/vue.js"></script>
    <!--<script src="/element-ui-2.13.2.js"></script>-->
    <script src="/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>
<body>
    <div id="app">
        <template>
            <div>
                <el-button type="danger"  @click="logout">退&nbsp;&nbsp;出</el-button>


            </div>

            <!--：visible  是可见的，  .sync 是父子组件-->
            <el-dialog title="修改" :visible.sync="dialogFormVisible">
                <el-form :model="studentByEdit">
                    <el-form-item label="学生姓名" :label-width="formLabelWidth">
                        <el-input v-model="studentByEdit.studentName" ></el-input>
                    </el-form-item>

                        <el-form-item label="学生性别" :label-width="formLabelWidth">
                            <el-radio-group v-model="studentByEdit.studentSex">
                                <el-radio-button label="0">女</el-radio-button>
                                <el-radio-button label="1">男</el-radio-button>
                            </el-radio-group>
                        </el-form-item>

                    <el-form-item label="学生手机号" :label-width="formLabelWidth">
                        <el-input v-model="studentByEdit.studentPhone" ></el-input>
                    </el-form-item>

                    <el-form-item label="身份证号" :label-width="formLabelWidth">
                        <el-input v-model="studentByEdit.studentCardId" ></el-input>
                    </el-form-item>

                    <el-form-item label="学生地址" :label-width="formLabelWidth">
                        <el-input v-model="studentByEdit.studentAddress" ></el-input>
                    </el-form-item>

                    <el-form-item label="学生入学时间" :label-width="formLabelWidth">
                        <!--<el-input v-model="studentByEdit.studentComeDate" ></el-input>-->
                        <div class="block">
                            <el-date-picker
                                    v-model="studentByEdit.studentComeDate"
                                    type="datetime"
                                    placeholder="选择日期时间"
                                    align="right"
                                    :picker-options="pickerOptions">
                            </el-date-picker>
                        </div>

                    </el-form-item>

                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <!--<el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>-->
                    <el-button type="primary" @click="updateStudent">确 定</el-button>
                </div>
            </el-dialog>


            <div>
                <span th:text="${session.dbadmin.getAdminName()}"></span>:登录了！
            </div>


            <div>
                学生性别：
                <el-select v-model="student.studentSex" placeholder="请选择" style="width: 20%">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
                学生姓名：
                <el-input v-model="student.studentName" placeholder="请输入内容" style="width: 20%"></el-input>
                <el-button type="warning" @click="searchBtn" round>搜&nbsp;索</el-button>
            </div>

            <div>
                <shiro:hasRole name="人事经理"> <el-button type="success"  @click="addBtn">增&nbsp;&nbsp;加</el-button> </shiro:hasRole>
                <!--<shiro:hasPermission name="学生的增加权限"> <el-button type="success"  @click="addBtn">增&nbsp;&nbsp;加</el-button> </shiro:hasPermission>-->
            </div>

            <div>
            <el-table
                    :data="tableData"
                    style="width: 100%">
                <el-table-column
                        prop="studentId"
                        label="学生ID"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="studentName"
                        label="学生姓名"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="studentSex"
                        label="学生性别"
                        :formatter="sexFormate">
                </el-table-column>
                <el-table-column
                        prop="studentPhone"
                        label="学生手机号">
                </el-table-column>
                <el-table-column
                        prop="studentCardId"
                        label="身份证号">
                </el-table-column>
                <el-table-column
                        prop="studentAddress"
                        label="学生地址">
                </el-table-column>
                <el-table-column
                        prop="studentComeDate"
                        label="学生入学时间">
                </el-table-column>

                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                    </template>
                </el-table-column>

            </el-table>
            </div>

            <!--分页-->
            <div class="block">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[5,10, 20, 30, 40]"
                        :page-size="5"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
            </div>
        </template>
    </div>

<script>
     var vm=new Vue({
         el:"#app",
         data:{
             tableData: [],
             currentPage: 1,
             page:1,
             limit:5,
             total:0,
             options: [{
                 value: '1',
                 label: '男生'
             }, {
                 value: '0',
                 label: '女生'
                }
             ],
             student:{
                 studentName:"",
                 studentSex:'',
                 studentComeDate:""
             },
             studentByEdit:{

             },
             dialogFormVisible: false,
             formLabelWidth: '100px',
             pickerOptions: {
                 shortcuts: [{
                     text: '今天',
                     onClick(picker) {
                         picker.$emit('pick', new Date());
                     }
                 }, {
                     text: '昨天',
                     onClick(picker) {
                         const date = new Date();
                         date.setTime(date.getTime() - 3600 * 1000 * 24);
                         picker.$emit('pick', date);
                     }
                 }, {
                     text: '一周前',
                     onClick(picker) {
                         const date = new Date();
                         date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                         picker.$emit('pick', date);
                     }
                 }]
             }
         },
         methods:{
             logout:function(){
                 axios.get('/admin/logout').then(res=>{
                     console.log(res)
                     if(res.data.code == 20000){
                     this.$message({
                         message: '退出成功',
                         type: 'success'
                     });
                     window.location.href='/page/LoginVue'
                     }else{
                     this.$message.error("网络繁忙，退出失败，请稍后重试！");
                 }
                 });

             },
             updateStudent(){
                 axios.post("/student/updateOne",
                     this.studentByEdit
                 ).then(res=>{
                     console.log(res)
                     if(res.data.code ==20000){
                         this.dialogFormVisible=false,
                         this.$message({
                         message: '恭喜你，修改成功',
                         type: 'success'
                     });
                     }else{
                         // 提示没有 修改好
                     this.$message.error(res.data.msg);
                 }
                 });
             },
             searchBtn:function(){
               console.log("发送axios.....")
                 this.loadTable(this.page,this.limit);
             },
             addBtn:function(){
                 alert("我执行增加方法")
             },
             handleEdit(index, row) {
                 console.log(index, row);
                 // 第一个是 索引， 第二个是 数据！！！
                 // 点击后，应当 弹出一个  弹出框
                 this.dialogFormVisible=true;
                 this.studentByEdit=row;
             },
             handleDelete(index, row) {
                 console.log(index, row);
             },

             sexFormate:function(row, index) {
                 if (row.studentSex == 1) {
                     return "男";
                 } else {
                     return "女";
                 }
             },
             handleSizeChange(val) {
                 console.log(`每页 ${val} 条`);
                 this.loadTable(this.page,val);
             },
             handleCurrentChange(val) {
                 console.log(`当前页: ${val}`);
                 this.loadTable(val,this.limit);
             },
             loadTable:function (page,limit) {
                 axios.get("/student/selectAllByPage",{
                             params:{
                                 page:page,
                                 limit:limit,
                                 studentSex:this.student.studentSex,
                                  studentName:this.student.studentName
                                 // studentComeDate:this.student.studentComeDate

                             }
                         }).then( res=>{
                             console.log(res)
                     if(res.data.code==20000){
                     //把json数组赋值给tableData
                     this.tableData = res.data.data.list;
                     this.total = res.data.data.total;
                 }else{
                     this.$message.error(res.data.msg);
                 }

                 // var username = sessionStorage.getItem("account")
                 // document.querySelector("#aa").innerHTML=username
             });
             }
         },
         created(){
             this.loadTable(this.page,this.limit);
         }
         // created:function () {
         //     // 页面一加载 就要 访问 url   /student/selectAll
         //     axios.get("/student/selectAllByPage",{
         //         params:{
         //             page:page,
         //             limit:limit
         //         }
         //     }).then( res=>{
         //         console.log(res)
         //         // 把json 数组赋值给  tableData
         //         this.tableData=res.data.data
         //     });
         //
         // }

     })
</script>
</body>
</html>